@charset "utf-8";


@media screen and (max-width: 999px){


/*********************************************************
Estilização da tela inicial
********************************************************/

.container{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.container a{
    text-decoration: none;
}

.imagem-pag-inicial{
    border: 1px solid black;
    margin: 10px;
    font-size: 350%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
    padding: 8px;
    text-shadow: 2px 2px 2px rgba(12, 11, 11, 0.425);
    border-radius: 3px;
    color: white;
    width: 87vw;
    background-size: cover;
    background-position: center right;
}

/**************************************************************
Imagens dos pokemons na tela inicial
**************************************************************/

#planta{
    background-image: url(../imagens/tela-inicial-movel/planta.png);
    
}

#fogo{
    background-image: url(../imagens/tela-inicial-movel/fogo.png);
}

#agua{
    background-image: url(../imagens/tela-inicial-movel/agua.png);
}

#inseto{
    background-image: url(../imagens/tela-inicial-movel/inseto.png);
}

#normal{
    background-image: url(../imagens/tela-inicial-movel/normal.png);
}

#venenoso{
    background-image: url(../imagens/tela-inicial-movel/venenoso.png);
}

#eletrico{
    background-image: url..(/imagens/tela-inicial-movel/eletrico.png);
}

#terra{
    background-image: url(../imagens/tela-inicial-movel/terra.png);
}

#fada{
    background-image: url(../imagens/tela-inicial-movel/fada.png);
}

#lutador{
    background-image: url(../imagens/tela-inicial-movel/lutador.png);
}

#psiquico{
    background-image: url(../imagens/tela-inicial-movel/psiquico.png);
}

#rocha{
    background-image: url(../imagens/tela-inicial-movel/rocha.png);
}

#fantasma{
    background-image: url(../imagens/tela-inicial-movel/fantasma.png);
}

#gelo{
    background-image: url(../imagens/tela-inicial-movel/gelo.png);
}

#dragao{
    background-image: url(../imagens/tela-inicial-movel/dragao.png);
}




}