@charset "utf-8";



@media screen and (min-width: 999px){

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*********************************************************
Estilização da tela inicial
********************************************************/

.container{
    display: flex;
    margin-top: 30px;
}

.container a{
    text-decoration: none;
}

.imagem-pag-inicial{
    border: 1px solid black;
    margin: 10px;
    height: 84vh;
    width: 10%;
    writing-mode: vertical-lr;
    font-size: 350%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.116);
    padding: 8px;
    text-shadow: 2px 2px 2px rgba(12, 11, 11, 0.425);
    border-radius: 3px;
    color: white;
    transition: all 0.3s ease-in-out;
}

.imagem-pag-inicial:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

/**************************************************************
Imagens dos pokemons na tela inicial
**************************************************************/

#planta{
    background-image: url(../imagens/tela-inicial/planta.png);
}

#fogo{
    background-image: url(../imagens/tela-inicial/fogo.png);
}

#agua{
    background-image: url(../imagens/tela-inicial/agua.png);
}

#inseto{
    background-image: url(../imagens/tela-inicial/inseto.png);
}

#normal{
    background-image: url(../imagens/tela-inicial/normal.png);
}

#venenoso{
    background-image: url(../imagens/tela-inicial/venenoso.png);
}

#eletrico{
    background-image: url(../imagens/tela-inicial/eletrico.png);
}

#terra{
    background-image: url(../imagens/tela-inicial/terra.png);
}

#fada{
    background-image: url(../imagens/tela-inicial/fada.png);
}

#lutador{
    background-image: url(../imagens/tela-inicial/lutador.png);
}

#psiquico{
    background-image: url(../imagens/tela-inicial/psiquico.png);
}

#rocha{
    background-image: url(../imagens/tela-inicial/rocha.png);
}

#fantasma{
    background-image: url(../imagens/tela-inicial/fantasma.png);
}

#gelo{
    background-image: url(../imagens/tela-inicial/gelo.png);
}

#dragao{
    background-image: url(../imagens/tela-inicial/dragao.png);
}

/*************************************************
Estilização geral das páginas dos pokémons
*******************************************/
.icone-elemento{
    display: flex;
    justify-content: center;
}

.titulo-pokemon{
    font-size: 20px;
    color: rgb(7, 7, 7);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.texto-pokemon{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 3px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.144);
}

.imagem-pokemon{
    display: block;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.imagem-do-pokemon{
    background-color: white;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.281);
    margin-top: 15px;

}
/********************************************************
Estilização página pokemons planta
*********************************************************/

.planta{
    background-image: url(../imagens/fundos-paginas/fundo\ folha.png);
    background-attachment: fixed;
    background-color: rgba(178, 233, 178, 0.281);
}

.pagina-planta{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 600px;
}

.pokemon-planta{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(216, 235, 211);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-planta img{
    display: flex;
    justify-content: center;
}

/********************************************************
Estilização página pokemons fogo
*********************************************************/

.fogo{
    background-image: url(../imagens/fundos-paginas/fundo-fogo.png);
    background-attachment: fixed;
    background-color: rgba(255, 166, 0, 0.425);
}

.pagina-fogo{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-fogo{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(216, 162, 117);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-fogo img{
    display: flex;
    justify-content: center;
}


/*********************************************
Estilização página água
********************************************/

.agua{
    background-image: url(../imagens/fundos-paginas/fundo-agua.png);
    background-attachment: fixed;
    background-color: rgba(97, 174, 194, 0.486);
}

.pagina-agua{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-agua{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(131, 223, 235);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-agua img{
    display: flex;
    justify-content: center;
}

/*********************************************
Estilização página Inseto
********************************************/

.inseto{
    background-image: url(../imagens/fundos-paginas/fundo-inseto.png);
    background-attachment: fixed;
    background-color: rgb(193, 211, 193);
}

.pagina-inseto{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-inseto{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(116, 160, 110);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-inseto img{
    display: flex;
    justify-content: center;
}

/*********************************************
Estilização página normal
********************************************/

.normal{
    background-image: url(../imagens/fundos-paginas/fundo-normal.png);
    background-attachment: fixed;
}

.pagina-normal{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-normal{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(203, 211, 212);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-inseto img{
    display: flex;
    justify-content: center;
}

/*********************************************
Estilização página Venenoso
********************************************/

.venenoso{
    background-image: url(../imagens/fundos-paginas/fundo-venenoso.png);
    background-attachment: fixed;
    background-color: rgb(156, 139, 172);
}

.pagina-venenoso{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-venenoso{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(196, 139, 204);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-venenoso img{
    display: flex;
    justify-content: center;
}

/*********************************************
Estilização página Elétrico
********************************************/

.eletrico{
    background-image: url(../imagens/fundos-paginas/fundo-eletrico.png);
    background-attachment: fixed;
    background-color: rgba(230, 230, 116, 0.082);
}

.pagina-eletrico{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-eletrico{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(196, 206, 109);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-eletrico img{
    display: flex;
    justify-content: center;
    background-size: cover;
}

/*********************************************
Estilização página Terra
********************************************/

.terra{
    background-image: url(../imagens/fundos-paginas/fundo-terra.png);
    background-attachment: fixed;
    
}

.pagina-terra{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-terra{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: #887571;
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-terra img{
    display: flex;
    justify-content: center;
}

/*********************************************
Estilização página Fada
********************************************/

.fada{
    background-image: url(../imagens/fundos-paginas/fundo-fada.png);
    background-attachment: fixed;
    background-color: #ffcbdb;
}

.pagina-fada{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-fada{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(241, 188, 241);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-fada img{
    display: flex;
    justify-content: center;
}

/*********************************************
Estilização página Lutador
********************************************/

.lutador{
    background-image: url(../imagens/fundos-paginas/fundo-lutador.png);
    background-attachment: fixed;
}

.pagina-lutador{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-lutador{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(175, 174, 174);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-lutador img{
    display: flex;
    justify-content: center;
}

/*********************************************
Estilização página Psíquico
********************************************/

.psiquico{
    background-image: url(../imagens/fundos-paginas/fundo-psiquico.png);
    background-attachment: fixed;
}

.pagina-psiquico{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-psiquico{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(177, 126, 236);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-psiquico img{
    display: flex;
    justify-content: center;
}

/*********************************************
Estilização página Rocha
********************************************/

.rocha{
    background-image: url(../imagens/fundos-paginas/fundo-rocha.png);
    background-attachment: fixed;
}

.pagina-rocha{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-rocha{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(155, 143, 143);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-rocha img{
    display: flex;
    justify-content: center;
}

/*********************************************
Estilização página Fantasma
********************************************/

.fantasma{
    background-image: url(../imagens/fundos-paginas/fundo-fantasma.png);
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.568);
}

.pagina-fantasma{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-fantasma{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(115, 77, 219);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-fantasma img{
    display: flex;
    justify-content: center;
}

/*********************************************
Estilização página Gelo
********************************************/

.gelo{
    background-image: url(../imagens/fundos-paginas/fundo-gelo.png);
    background-attachment: fixed;
    background-color: rgb(153, 202, 202);
}

.pagina-gelo{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-gelo{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(10, 166, 228);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-gelo img{
    display: flex;
    justify-content: center;
}

/*********************************************
Estilização página Dragão
********************************************/

.dragao{
    background-image: url(../imagens/fundos-paginas/fundo-dragao.png);
    background-attachment: fixed;
}

.pagina-dragao{
    display: flex;
    width: 98vw;
    height: 98vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pokemon-dragao{
    border: 1px solid rgba(167, 158, 158, 0.342);
    width: 300px;
    height: 450px;
    background-color: rgb(78, 88, 223);
    margin: 10px;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.329);
    padding: 18px;
    background-image: url(../imagens/fundos-paginas/fundo-div.png);
    background-size: cover;
}

.pagina-dragao img{
    display: flex;
    justify-content: center;
}


/********************************************************
Estilização botão Voltar
*********************************************************/

.botao-voltar{
    border: none;
    background-color: rgba(240, 248, 255, 0);
    cursor: pointer;  
    position: fixed;  
    bottom: -4px;
    right: 0px;  
}
}